<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apppizeria_v02">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- INICIO -->

        <!-- REGISTRO -->
        <activity
            android:name=".ActivityRegistro">

        </activity>
        <!-- LOGIN -->
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- OPCIONES PIZZERIA -->
        <activity
            android:name=".ActivityOpcionesPizzeria"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ActivityFavorita" />
        <!--OPCIONES PEDIDO-->
        <activity
            android:name=".ActivityOpcionesPedidoKotlin"
            android:parentActivityName=".ActivityOpcionesPizzeria">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityOpcionesPizzeria"/>
        </activity>
    </application>

</manifest>